{{ define "main" }}
  {{- $readMore := (T "readMore") | default "Read more →" -}}
  <div class="hx:mx-auto hx:flex hextra-max-page-width">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main id="content" class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-6 hx:pt-4 hx:md:px-12">
        {{ partial "breadcrumb.html" (dict "page" . "enable" false) }}
        <br class="hx:mt-1.5 hx:text-sm" />
        {{ if .Title }}<h1 class="hx:text-center hx:mt-2 hx:text-4xl hx:font-bold hx:tracking-tight hx:text-slate-900 hx:dark:text-slate-100">{{ .Title }}</h1>{{ end }}
        <div class="content">{{ .Content }}</div>
        
        {{- $blogSection := .Site.GetPage "section" "blog" -}}
        {{- $pages := partial "utils/sort-pages" (dict "page" $blogSection "by" site.Params.blog.list.sortBy "order" site.Params.blog.list.sortOrder) -}}
        
        {{- range $pages.GroupByDate "2006 - January" }}
          <div class="hx:mb-10">
            <h2 id="{{ .Key | urlize }}" class="hx:mt-10 hx:text-3xl hx:font-bold hx:tracking-tight hx:text-slate-900 hx:dark:text-slate-100">{{ .Key }}</h2>
            <hr class="hx:my-4 hx:border-slate-200 hx:dark:border-slate-800" />
            <ul class="hx:list-disc hx:pl-6 hx:space-y-4 hx:text-slate-700 hx:dark:text-slate-300">
              {{- range .Pages }}
                <li>
                  <a class="hx:text-[color:hsl(var(--primary-hue),100%,50%)] hx:underline hx:underline-offset-2 hx:decoration-from-font hx:text-lg" href="{{ .RelPermalink }}">{{ .Title }} {{ if .Params.subtitle }} | {{ .Params.subtitle }}{{ end }}</a>
                </li>
              {{- end }}
            </ul>
          </div>
        {{- end }}
      </main>
    </article>

    <div class="hx:hidden xl:hx:block hx:w-64 hx:shrink-0 hx:pt-8 hx:pl-8">
      <div class="hx:sticky hx:top-24 hx:max-h-[calc(100vh-var(--navbar-height))] hx:overflow-y-auto hx:pr-4 hx:pb-10">
        <p class="hx:mb-4 hx:font-semibold hx:tracking-tight hx:text-sm">On this page</p>
        <ul class="hx:text-sm hx:space-y-2 hx:text-slate-500 hx:dark:text-slate-400">
          {{- $blogSection := .Site.GetPage "section" "blog" -}}
          {{- $pages := partial "utils/sort-pages" (dict "page" $blogSection "by" site.Params.blog.list.sortBy "order" site.Params.blog.list.sortOrder) -}}
          {{- range $pages.GroupByDate "2006 - January" }}
            <li><a href="#{{ .Key | urlize }}" class="hover:hx:text-slate-900 hx:dark:hover:text-slate-100">{{ .Key }}</a></li>
          {{- end }}
        </ul>
      </div>
    </div>
  </div>
{{- end -}}
